[submodule ".local/share/zinit/zinit.git"]
	path = .local/share/zinit/zinit.git
	url = https://github.com/zdharma-continuum/zinit.git
[submodule ".local/share/zinit/plugins/maple3142---powerlevel10k"]
	path = .local/share/zinit/plugins/maple3142---powerlevel10k
    url = https://github.com/maple3142/powerlevel10k.git
    branch = per-term-instant-prompt
[submodule ".local/share/zinit/plugins/Aloxaf---fzf-tab"]
	path = .local/share/zinit/plugins/Aloxaf---fzf-tab
	url = https://github.com/Aloxaf/fzf-tab.git
[submodule ".local/share/zinit/plugins/asdf-vm---asdf"]
	path = .local/share/zinit/plugins/asdf-vm---asdf
	url = https://github.com/asdf-vm/asdf.git
[submodule ".local/share/zinit/plugins/zdharma-continuum---fast-syntax-highlighting"]
	path = .local/share/zinit/plugins/zdharma-continuum---fast-syntax-highlighting
	url = https://github.com/zdharma-continuum/fast-syntax-highlighting.git
[submodule ".local/share/zinit/plugins/zsh-users---zsh-autosuggestions"]
	path = .local/share/zinit/plugins/zsh-users---zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule ".local/share/zinit/plugins/zsh-users---zsh-completions"]
	path = .local/share/zinit/plugins/zsh-users---zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule ".local/share/zinit/plugins/conda-incubator---conda-zsh-completion"]
	path = .local/share/zinit/plugins/conda-incubator---conda-zsh-completion
	url = https://github.com/conda-incubator/conda-zsh-completion.git
